{% extends '_layouts/app-logic.twig' %}

{% block app %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    {% include '_components/vendorHead.twig' %}
</head>
<body>
    <div id="app" class="page type">
        {% if not publicLayout %}
            {% include '_components/sidebar.twig' %}
        {% endif %}
        <div id="page-loader" class="htmx-indicator"></div>
        <main class="main {% if not publicLayout %}main--allow-sidebar{% endif %}" id="main">
            {{  dump(userPermissions) }}
            {% block main %}
                No content
            {% endblock %}
        </main>

        {% include '_components/vendorFoot.twig' %}
    </div>
    <div id="dialog" class="dialog">
    </div>
</body>
</html>
{% endblock %}