{# Required #}
{% set items = items %}
{% set type = type %} {# assets | entries #}

{% set layout = layout|default('grid') %}

<div class="listing listing--{{ type }}">
    {% for item in items %}
        {% include '_library/components/card/' ~ layout with {
            item: item,
            type: type,
            thumbnail: '',
        } only %}
    {% endfor %}
</div>