{# Required #}
{% set items = items %}
{% set elementType = elementType %} {# assets | entries #}

{% set layout = layout|default('grid') %}

{# TODO: cache based on element id #}

<div class="listing listing--{{ elementType }}">
    {% for item in items %}
        {% set thumbnailField = elementType == 'entries' ? entrySources[item.section].thumbnailField : 0%}
        {% if thumbnailField %}
            {% set thumbField = item[thumbnailField].one %}
            {% set thumbnail = thumbField and thumbField.instance == 'sitemill\\dam\\elements\\DamAsset' ? thumbField.file : thumbField  %}
        {% elseif elementType == 'asset' %}
            {% set thumbnail = craft.library.damActive ? item.file : item %}
        {% endif %}
        {% include '_library/components/card/' ~ layout with {
            item: item,
            elementType: elementType,
            thumbnail: thumbnail
        } only %}
    {% endfor %}
</div>


{#{% if item[thumbnailField].one == 'sitemill\\dam\\fields\\DamAssetsField'  %}#}
{#    {% set thumbnail = item[thumbnailField]|length ? item[thumbnailField].one.file : null %}#}
{#{% else %}#}
{#    {% set thumbnail = item[thumbnailField]|length ? item[thumbnailField].one : null %}#}
{#{% endif %}#}