{% set title = title|default(null) %}
{% set items = items|default(null) %}
{% set type = type|default(null) %}
{% set route = route|default(null) %}

{#/entrysection/entry/Id/slug#}

{% set baseUrl = '' %}
{% if route %}
    {% set baseUrl = route|kebab ~ '/' %}
{% endif %}
{% if type %}
    {% set baseUrl = baseUrl ~ type ~ '/' %}
{% endif %}


<nav class="navigation-group" aria-label="{{ title }} navigation">
    <h3 class="navigation-group__title">{{ title }}</h3>
    <ul class="navigation-group__items">
        {% for item in items %}
            <li>
                {% include '_library/components/navigationItem.twig' with {
                    title: item.title,
                    url: url(baseUrl ~ item.id ~ '/' ~ item.slug)
                } only %}
            </li>
        {% endfor %}
    </ul>
</nav>


