{% set url = url %}
{% set title = title %}

<a class="navigation-item {{ craft.app.request.absoluteUrl == url ? 'navigation-item--active' }}"
        href="{{ url }}"
        title="View {{ title }}">
    {{ title }}
</a>
