{# TODO: option to turn live search ON - maybe not on by default? #}
<form
    action="{{ url('search') }}"
    method="GET"
    class="search-bar"
>
    <i></i>
    <input
        class="search-bar__input"
        type="text"
        name="q"
        placeholder="Search"
        data-hx-select=".main"
        data-hx-get="{{ url('listing/all') }}"
        data-hx-indicator="#page-loader"
        data-hx-target=".main"
        data-hx-swap="outerHTML"
        data-hx-push-url="true"
        hx-trigger="keyup delay:250ms"
        value = "{{ keywords }}"
    >
</form>
