<div class="asset-actions">
    {% include '_extends/assetActionsPre' ignore missing %}
    
    <a href="{{ asset.url }}" class="action" title="Download this asset" download>
        {% include '_components/actionIcon' with {
            label: 'Download asset',
            icon: 'download'
        } %}
    </a>

    {% include '_extends/assetActionsPost' ignore missing %}
</div>