<div class="listing-context">
    <div class="container">
        Listing {{ assetsQuery|length }} assets
        {% if category %} in '{{ category.title }}'{% endif %},
        sorted by
        {% switch order %}
            {% case 'title asc' %}
                Title ascending
            {% case 'title desc' %}
                Title descending
        {% endswitch %}
    </div>
</div>

 