<div
        class="navigation"
        hx-boost="true"
        hx-indicator="#page-loader"
        hx-push-url="true"
>

    {% for navigationItem in craft.library.settings.navigationLayout %}
        {% switch navigationItem.type %}
            {% case 'entries' %}
                {% include '_components/navigationGroup.twig' with {
                    title: navigationItem.title,
                    items: craft.entries.section(navigationItem.source).all(),
                    route: 'page'
                } %}
            {% case 'categories' %}
                {% include '_components/navigationGroup.twig' with {
                    title: navigationItem.title,
                    items: craft.categories().group(navigationItem.source).level(1).all(),
                    route: 'category'
                } %}
{#            TODO: create collection navigation group #}
{#            {% case 'collections' %}#}
{#                {% include '_components/navigationGroup.twig' with {#}
{#                    title: navigationItem.title,#}
{#                    items: craft.libraryCollections#}
{#                } %}#}
            {% case 'include' %}
                {% include navigationItem.source %}
        {% endswitch %}
    {% endfor %}

</div>