{# TODO: Do I have validation here and just pass properties to components instead of within components? I like the idea of all validation seperated into thier components. Maybe I just pass properties here? #}

<header class="page-header">
    <div class="container">   
        <div class="page-header__breadcrumbs">
            {% include '_components/breadcrumbs.twig' %}
        </div>
        <div class="page-header__main">
            <div class="page-header__pageTitle">
                {% include '_components/pageTitle' %}
                <div class="page-header__category-roll">
                    {% include '_components/categoryRoll' %}
                </div>
            </div>
            {# We can use embed to configure the page actions #}
            {% block actions %}
                {% include '_components/pageActions' %}
            {% endblock %}
        </div>        
    </div>
</header>
