<div class="thumbnail">
    {% block thumbnail %}
        <svg width="340" height="340" viewBox="0 0 340 340" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="340" height="340" fill="#DBDBDB"/>
            <rect x="67" y="102.686" width="108.474" height="148.764" fill="#7E7E7E"/>
            <rect x="139.049" y="50" width="124.745" height="94.5271" fill="#F1F1F1"/>
            <path d="M160.742 177.069L259.918 232.901L160.742 290.966V177.069Z" fill="#525252"/>
            <rect x="84.0391" y="121.283" width="189.054" height="15.4962" fill="white"/>
            <rect x="84.0391" y="154.39" width="109.248" height="15.4493" fill="white"/>
            <rect x="84.0391" y="185.288" width="55.1761" height="15.4491" fill="white"/>
        </svg>
    {% endblock %}
</div>