{% set formAction = '/library/share/toggle' %}
{% set htmxSwapSection = '#public' %}

{# Get asset #}
{% if craft.library.damActive %}
    {% set asset = craft.damAssets.id(id).one() %}
    {% set assetFile = asset.file %}
{% else %}
    {% set asset = craft.assets.id(id).one() %}
    {% set assetFile = asset %}
{% endif %}

{% extends '_library/dialogs/_layout.twig' %}

{% block main %}

    <input type="hidden" name="elementId" value="{{ asset.id }}">
    <input type="submit" value="Toggle Privacy">

    <div id="public">
        {{ craft.library.isPublic(asset) ? 'public' : 'notpublic'}}
    </div>
    <img src="{{ assetFile.thumbUrl(600) }}" alt="">


{% endblock %}
