{% set formAction = '/library/share/toggle' %}
{% set htmxSwapSection = '#swap' %}
{% set htmxTrigger = 'change' %}
{% set elementType = elementType %}
{% set thumbnail = 0 %}

{% if elementType == 'asset' %}
    {% if craft.library.damActive %}
        {% set element = craft.damAssets.id(id).one() %}
{#        {% set thumbnail = element.file %}#}
    {% else %}
        {% set element = craft.assets.id(id).one() %}
{#        {% set thumbnail = element %}#}
    {% endif %}
    {% set elementUrl = url('asset/' ~ element.id ~ '/' ~ element.title|kebab) %}
{% elseif elementType == 'entry' %}
    {% set element = craft.entries.id(id).one() %}
    {% set elementUrl = url(element.section|kebab ~ '/entry/' ~ element.id ~ '/' ~ element.slug) %}
{% endif %}

{% set title = "Share '" ~ element.title ~ "'" %}

{% extends '_library/dialogs/_layout.twig' %}

{% block main %}
    {% set isPublic = craft.library.isPublic(element) %}
    {% if thumbnail %}
        <img src="{{ thumbnail.thumbUrl(600) }}" alt="">
    {% endif %}
    <div id="swap">
        <strong>Shared:</strong>
        <input type="checkbox" id="public" name="public" {{ isPublic ? 'checked' }}>
        <label for="public">{{ isPublic ? 'Is public' : 'Not public'}}</label>
        {% if isPublic %}
            <h3>Share Url:</h3>
            <div class="message">
                {{ elementUrl }}
            </div>
        {% endif %}
    </div>
{% endblock %}

