{% extends '_library/layouts/app-logic.twig' %}

{% block app %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} - {{ siteName }}</title>
    {% include '_library/components/vendorHead.twig' %}
</head>
<body>
    <div id="app" class="page text-type bg-primary" :class="{'page--recessed': sidebarOpen }" x-data="{ sidebarOpen: false }">

        {% if not publicLayout %}
            {% include '_library/components/sidebar.twig' %}
        {% endif %}
        <div class="page-loader" id="page-loader" class="htmx-indicator">
            <div class="page-loader__bar bg-primary"></div>
        </div>
        <main class="main bg-canvas {% if not publicLayout %}main--allow-sidebar{% endif %}" id="main" >
            {% block main %}
                No content
            {% endblock %}
        </main>

        {% include '_library/components/vendorFoot.twig' %}
    </div>
    <div id="dialog" class="dialog">
    </div>
</body>
</html>
{% endblock %}