{% set pageTitle = pageTitle|default('Default page title') %}
{% set breadcrumbs = breadcrumbs|default([]) %}

{% extends '_library/layouts/app.twig' %}

{% block main %}
    {% block globalNav %}
        <div class="global-nav">
            <div class="container">
                <div class="global-nav__main">
                    <div class="global-nav__breadcrumbs">
                        {% block breadcrumbs %}
                            {% include '_library/components/breadcrumbs.twig' %}
                        {% endblock %}
                    </div>
                    <div class="global-nav__page-actions">
                        {% block pageActions %}
                            {% include '_library/components/pageActions.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block pageHeader %}
        <header class="page-header">
            <div class="container">
                <div class="page-header__main">
                    <div class="page-header__pageTitle">
                        {% block pageTitle %}
                            {% include '_library/components/pageTitle.twig' %}
                        {% endblock %}
                        <div class="page-header__category-roll">
                            {% block categoryRoll %}
                                {% include '_library/components/categoryRoll.twig' with {
                                    'categoryRoll': category ? category : false
                                } %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block pageMain %}
        No page content defined
    {% endblock %}
{% endblock %}