{% set pageTitle = pageTitle|default('Default page title') %}
{% set breadcrumbs = breadcrumbs|default([]) %}

{% extends '_library/layouts/app.twig' %}

{% block main %}

    {% block pageHeader %}
        <header class="page-header">
            <div class="container">
                <div class="page-header__breadcrumbs">
                    {% block breadcrumbs %}
                        {% include '_library/components/breadcrumbs.twig' %}
                    {% endblock %}
                </div>
                <div class="page-header__main">
                    <div class="page-header__pageTitle">
                        {% block pageTitle %}
                            {% include '_library/components/pageTitle.twig' %}
                        {% endblock %}
                        <div class="page-header__category-roll">
                            {% block categoryRoll %}
                                {% include '_library/components/categoryRoll.twig' with {
                                    'categoryRoll': category ? category : false
                                } %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block pageMain %}
        No page content defined
    {% endblock %}
    <div class="page-nav">
        <div class="container">
            <div class="page-nav__main">
                <div class="page-nav__actions">
                    {% block pageActions %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}