.asset-card-grid {
    position: relative;
    text-align: center; 
    width: 250px;
}

.asset-card-grid__wrapper {
    padding: 5%;
}

.asset-card-grid__header {
    // flex-shrink:0;
}

.asset-card-grid__title {
    font-weight: 500;
    font-size: 1em;
    margin: 0;
}

.asset-card-grid__action {
    text-decoration: none;
    color: $text-default;
}

.asset-card-grid__action::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.asset-card-grid__actions {
    display: none;
    z-index: 10;
    .quick-actions {
        padding: 1em;
        position: absolute;
        top: 0;
        right: 0;
    }
}

// Actions

.asset-card-grid:hover {
    background-color: rgba(127,127,127,0.1);
}

.asset-card-grid:hover .asset-card-grid__actions {
    display: block;
}