.breadcrumb {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:before {
    content: '/';
    display: inline-block;
  }
}

.breadcrumb--first {
  &:before {
    content: none;
  }
}

.breadcrumb__icon {
  width: 20px;
  margin-right: 0.5em;
}