.field-group {

}

.field-group + .field-group {
  margin-top: 1em;
}

.field-group--join {
  .form-field:first-child {
    input[type=text], input[type=password], input[type=email] {
      border-radius: $ui-border-radius $ui-border-radius 0 0;
    }
  }

  .form-field:not(:first-child) {
    margin-top: 0;
    input[type=text], input[type=password], input[type=email] {
      border-radius: 0px;
    }
  }

  .form-field:last-child {
    input[type=text], input[type=password], input[type=email] {
      border-radius:  0 0 $ui-border-radius $ui-border-radius;
    }
  }
}