.global-nav {
  margin-left: $sidebar-width-full;
  position: fixed;
  right:0;
  left:0;
  top:0;
  background-color: rgba($grey-soft,0.8);

}

.global-nav__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $global-nav-height;
}