.listing {
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
}

.listing__tools {

    .container {
        display: flex;
    }
}

.listing__results {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-evenly;
    padding: 1em;
}

.listing__results:after {
    content: "";
    flex: auto;
}