.mosaic {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mosaic__inner {
  columns: 5;
  column-gap: 0;
  background-color: red;
  line-height: 0;
  @media screen and (min-width: $tablet) {
    columns: 5;
  }
  @media screen and (min-width: $tablet-large) {
    columns: 10;
  }
  @media screen and (min-width: $desktop) {
    columns: 20;
  }
}

.mosaic img {
  position: relative;
  display: block;
  width: 100%;
}
