.page-nav {
  position: fixed;
  bottom: 0px;
  right:0;
  left:0;
  background-color: rgba($grey-soft,0.8);
  @media screen and (min-width: $tablet) {
    margin-left: $sidebar-width-full;

    top:0;
    bottom: auto;
  }
}

.page-nav__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $global-nav-height;
}

.page-nav__actions {
  width:100%
}