.page-header {
    background-color: #F6F6F6;
}

.page-header__breadcrumbs {
    height: $global-nav-height;
    display: flex;
   align-items: center;

}

.page-header__category-roll {
    margin-top: 1em;
}

.page-header__main {
  padding: 2em 0;
  @media screen and (min-width:$navFull) {
        display: flex;    
        align-items: center;
        justify-content: space-between;
    }
}