.results {

}

.results__toolbar {
  & > * + * {
    margin-top: 1em;
  }
  @media screen and(min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    * + * {
      margin-top: 0;
    }
  }
}

.results__title {
  margin: 0;
}