.search-bar {
    position: relative;
    input {
        width: 100%;
        border:0;
        background-color: rgba(127,127,127,0.2);
        padding:0.5em 0.5em 0.5em 2em;
        border-radius: 0.3em;
        color: inherit;
    }
    i {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        left: .6em;
        @extend %fa-icon;
        @extend .far;
        &::before {
            content: fa-content($fa-var-search);
            opacity: 0.5;
        }
    }
    input::placeholder {
        color: rgba(127,127,127,0.9);
    }
}