.sidebar {
    position: fixed;
    display: flex;
    left: -$sidebar-width-compact;
    top:0;
    width: $sidebar-width-compact;
    height: 100vh;
    padding: 1em;
    background-color:$sidebar;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s right ease-in-out;
    z-index: 100;
    @media screen and (min-width:$navFull) {
        left: auto;
        width: $sidebar-width-full;
    }
    transition: left $animation;
}

.sidebar__main {

}


.sidebar__footer {

}
.sidebar__toggle {
    padding: 0.5em;
    font-size: 1.5em;
    position: fixed;
    right:0;
    z-index: 20;
    span {
        display: none;
    }
    @media screen and (min-width:$navFull) {
        display: none;
    }
    transition: color $animation;
}


.sidebar--active {
    left: 0;
}


.sidebar__toggle--active {
    color:white;
}
