.sidebar {
    position: fixed;
    display: flex;
    right: -$sidebar-width-compact;
    top:0;
    width: $sidebar-width-compact;
    height: 100vh;
    padding: 1em;
    background-color:$sidebar;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s right ease-in-out;
    z-index: 100;
    @media screen and (min-width:$navFull) {
        right: auto;
        width: $sidebar-width-full;
    }
    transition: right 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.sidebar--active {
    right: 0;
}

.sidebar__main {

}

.sidebar__footer {

}