<div class="filter">
    <label for="filter-order" class="filter__label">
        Sort
    </label>
    <div class="filter__input">
        <select name="order" id="filter-order">
            {% for item in craft.fabric.settings.filterOrdering %}
                <option value="{{ item.value }}"
                        {% if order == '{{ item.value }}' %}selected{% endif %}>{{ item.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>