<div class="filter">
    <label for="filter-order" class="filter__label">
        Sort
    </label>
    <div class="filter__input">
        <select name="order" id="filter-order">
            {% for key, item in craft.fabric.settings.filterOrdering %}
            <option value="{{ key }}"
                    {% if order ==  key %}selected{% endif %}>{{ item.label }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>