{% extends '_fabric/layouts/app-logic' %}

{% block app %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }} - {{ siteName }}</title>
        {% include '_fabric/components/vendorHead' %}
    </head>
    <body>
    <div id="app"
         class="page | bg-gray-white dark:bg-gray-700 text-base text-gray-900 dark:text-gray-100 min-h-screen">
        {% if not publicLayout %}
            {% include '_fabric/components/sidebar' %}
        {% endif %}

        {# Initialize the page loader #}
        {% include '_fabric/components/pageLoader' %}

        <main class="main | {% if not publicLayout %}md:ml-sidebar{% endif %}" id="main">
            {% block appMain %}
                No content
            {% endblock %}
        </main>
        {% include '_fabric/components/vendorFoot' %}

    </div>

    {# Initialize dialog #}
    {% include '_fabric/components/dialog' %}
    </body>
    </html>
{% endblock %}

{% css %}
[x-cloak] {
    display: none
}

{% endcss %}