{% extends '_fabric/layouts/app-logic' %}

{% block app %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }} - {{ siteName }}</title>
        {% include '_fabric/components/vendorHead' %}
    </head>
    <body>
    <div x-data="{sidebarOpen: false}">
        <div id="app" class="page || bg-gray-white dark:bg-gray-700 text-base text-gray-900 dark:text-gray-100 min-h-screen">
            {% if not publicLayout %}
                {% include '_fabric/components/sidebar' %}
            {% endif %}

            {% include '_fabric/components/pageLoader' %}

            <main class="main || min-h-screen opacity-100 transition-transform transition-opacity transform {% if not publicLayout %}md:ml-sidebar{% endif %}"
                  :class="{'scale-95 opacity-90': sidebarOpen }" id="main">
                {% block main %}
                    No content
                {% endblock %}
            </main>
            {% include '_fabric/components/vendorFoot' %}
        </div>

        {# Initialize dialog #}
        {% include '_fabric/components/dialog' %}
    </div>
    </body>
    </html>
{% endblock %}

{% css %}
    [x-cloak] {
        display:none
    }
{% endcss %}