{% set pageTitle = pageTitle|default('Default page title') %}
{% set pageActions = pageActions|default(null) %}
{% set breadcrumbs = breadcrumbs|default([]) %}

{% extends '_fabric/layouts/app.twig' %}

{% block appMain %}
    {% block pageHeader %}
        <header class="page-header | bg-gray-100 dark:bg-gray-800">
            <div class="container-full">
                <div class="page-header__breadcrumbs | flex items-center h-16">
                    {% block breadcrumbs %}
                        {% include '_fabric/components/breadcrumbs.twig' %}
                    {% endblock %}
                </div>
                <div class="page-header__main | py-6 md:pt-6 md:pb-10 md:flex md:items-center md:justify-between">
                    <div class="page-header__title space-y-4">
                        {% block pageTitle %}
                            {% include '_fabric/components/pageTitle.twig' %}
                        {% endblock %}

                        {% block pageSubtitle %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="page-content | pb-20 md:pb-8">
        {% block pageMain %}
            No page content defined
        {% endblock %}
    </div>

    {% if pageActions %}
        <div class="page-nav | fixed bottom-0 right-0 left-0 md:fixed md:top-0 md:bottom-auto bg-gray-100 dark:bg-gray-800 bg-transparent bg-opacity-80 md:ml-sidebar ">
            <div class="container">
                <div class="page-nav__main | h-16 flex items-center justify-end">
                    {{ pageActions }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}