{% set pageTitle = pageTitle|default('Default page title') %}
{% set breadcrumbs = breadcrumbs|default([]) %}

{% extends '_fabric/layouts/app.twig' %}

{% block appMain %}

    {% block pageHeader %}
        <header class="page-header || bg-gray-100 dark:bg-gray-800">
            <div class="container">
                <div class="page-header__breadcrumbs || flex items-center h-10">
                    {% block breadcrumbs %}
                        {% include '_fabric/components/breadcrumbs.twig' %}
                    {% endblock %}
                </div>
                <div class="page-header__main || py-6 md:flex md:items-center md:justify-between">
                    <div class="page-header__page-title">
                        {% block pageTitle %}
                            {% include '_fabric/components/pageTitle.twig' %}
                        {% endblock %}
                        <div class="page-header__category-roll || ">
                            {% block categoryRoll %}
                                {% include '_fabric/components/categoryRoll.twig' with {
                                    'categoryRoll': category ? category : false
                                } %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="page-content | py-8">
        {% block pageMain %}
            No page content defined
        {% endblock %}
    </div>

    <div class="page-nav | fixed bottom-0 right-0 left-0 md:fixed md:top-0 md:bottom-auto bg-gray-100 dark:bg-gray-800 bg-transparent bg-opacity-80 md:ml-sidebar ">
        <div class="container">
            <div class="page-nav__main | flex h-16 items-center justify-end">
                {% block pageActions %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}