$tablet: 768px;
$tablet-large: 1024px;
$desktop: 1280px;

$navFull: $tablet; // When to switch to full sidebar navigation
$assetFull: $sidebar-width-full + 800px; // When to show side-by-side asset/meta