.text-sm {
  font-size: 0.8em;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.3em;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}