$sidebar-width-compact: 250px;
$sidebar-width-full: 250px;
$asset-preview-max-width: 1024px;
$ui-border-radius: 4px;
$global-nav-height: 60px;

$container-pad-small: 5%;
$container-pad-large: 5%;

$animation:.3s cubic-bezier(0.33, 1, 0.68, 1);