<article class="asset-card-grid">
    <div class="asset-card-grid__wrapper">
        <div class="asset-card-grid__thumbnail">
            {% include ['_library/components/thumbnail/' ~ asset.kind,'_library/components/thumbnail/_default']%}
        </div>
        <header class="asset-card-grid__header">
            <h3 class="asset-card-grid__title">
                <a 
                    href="{{ url('asset/' ~ asset.id ~ '/' ~ asset.title|kebab ) }}"
                    class="asset-card-grid__action"
                    >
                    {{ asset.title }}
                </a>
            </h3>
        </header>
        <div class="asset-card-grid__actions">
            {% include ['_library/components/quickActions/' ~ asset.kind,'_library/components/quickActions/_default'] with {context: 'card'} %}
        </div>
    </div>
</article>