{% if craft.library.settings.assetsSource == 'dam' %}
    {% set assetSource = craft.damAssets %}
{% else %}
    {% set assetSource = craft.assets %}
{% endif %}

{% set asset = assetSource
    .id(assetId)
    .with(['file[0]'])
    .one() %}

{% set pageTitle = asset.title %}

{% set breadcrumbs = [{
    'title': 'Assets'|t('library'),
    'url': '/assets/'
}] %}

{% extends '_library/layouts/page.twig' %}

{% block pageActions %}
    {% include ['_library/components/quickActions/' ~ asset.kind,'_library/components/quickActions/_default'] with {context: 'default'} %}
{% endblock %}

{% block pageMain %}
    <div class="asset">
        <div class="container">
            <div class="asset__wrapper">
                <div class="asset__preview">
                    {% include ['_library/components/preview/' ~ asset.kind, '_library/components/preview/_default'] %}
                </div>
                <div class="asset__meta">
                    {% set assetFields = asset.fieldLayout.fields %}

                    {% for fieldHandle, fieldSettings in craft.library.settings.assetFields if fieldSettings.enabled %}
                        {% include '_library/components/field' with {
                            handle: fieldHandle,
                            settings: fieldSettings,
                            element: asset
                        } only %}
                    {% endfor %}

                    {% include '_library/components/assetMetaItems.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}