{% extends '_library/layouts/page.twig' %}

{# Define the type of element the listing will show#}
{% set show = elementType|default('all') %}
{% set pageTitle = 'All items' %}

{# Set defaults #}
{% set hasAssets = 0 %}
{% set hasEntries = 0 %}

{# Set up page settings #}
{% if show != 'all' %}
    {% if show == 'entries' %}
        {% set pageTitle = 'All entries' %}
        {% if elementSource is defined %}
            {% set entrySection = craft.entries.section(elementSource|camel) %}
            {% set pageTitle = craft.sections.sectionByHandle(elementSource|camel).name %}
        {% endif %}
    {% else %}
        {% set pageTitle = 'All Assets' %}
    {% endif %}
{% endif %}

{# Set up category if it exists #}
{% if categoryId is defined %}
    {% set category = craft.categories.id(categoryId).one() %}
    {% set pageTitle = category.title %}
    {# If category has parent, build breadcrumbs YUM #}
    {% if category.parent %}
        {% set breadcrumbs = [] %}
        {% for category in category.ancestors.all() %}
            {% set breadcrumbs = breadcrumbs|merge([{
                'title' : category.title,
                'url' : '/category/' ~ category.id ~ '/' ~ category.slug
            }]) %}
        {% endfor %}
    {% endif %}
{% endif %}

{# Pass the page title to the page header #}
{% block pageHeader %}
    {% set pageTitle = keywords ? "Searching for '" ~ keywords ~ "'" : pageTitle %}
    {{ parent() }}
{% endblock %}

{% block pageMain %}
    {# If assets to be show, do an asset query #}
    {% if show in ['all','assets'] %}
        {# Get assets source #}
        {% if craft.library.settings.assetsSource == 'dam' %}
            {% set assets = craft.damAssets %}
        {% else %}
            {% set assets = craft.assets.volume(craft.library.settings.assetsSource) %}
        {% endif %}

        {# Set query #}
        {% set assetQuery = assets %}

        {% set totalAssets = assetQuery|length %}

        {% set assetQuery = assetQuery
            .search(keywords)
            .kind(kind)
            .relatedTo(category)
            .orderBy(order)
            .with(['file[0]'])
            .limit(30)  %}

        {% set hasAssets = assetQuery|length ? 1 %}
    {% endif %}

    {# If entries to be shown, do an entry query #}
    {% if show in ['all','entries'] %}
        {# If entry section not defined then get all enabled sections #}
        {% if entrySection is not defined %}
            {% set defaultEntriesSections = [] %}
            {% for source, value in craft.library.settings.entrySources if (value['enabled'] and value['showInSearch']) %}
                {% set defaultEntriesSections = defaultEntriesSections|merge([source]) %}
            {% endfor %}
            {% set entrySection = craft.entries.section(defaultEntriesSections) %}
        {% endif %}

        {% set entryQuery = entrySection %}
        {% set totalEntries = entryQuery|length %}
        {% set entrySection = entrySection
            .search(keywords)
            .relatedTo(category)
            .orderBy(order)
            .limit(30) %}

        {% set hasEntries = entryQuery|length ? 1 %}
    {% endif %}

    <div class="results" id="results">
{#        total assets: {{ totalAssets }}, total entries: {{ totalEntries }}, all: {{ totalAssets + totalEntries }}#}
        {% if hasAssets or hasEntries %}
            <div class="container">
                <div class="results__toolbar">
                    {% include '_library/components/listingContext.twig' %}
                    {% include '_library/components/listingFilter.twig' %}
                </div>

            </div>

            <div id="loasding" class="htmx-indicator">
                Loading
            </div>

            {% if hasAssets %}
                <div class="container">
                    <h2>Assets</h2>
                </div>
                {% include '_library/components/listing.twig' with {
                    type: 'assets',
                    items: assetQuery,
                    showFilters: 0,
                    showContext: 0
                } only %}
            {% endif %}

            {% if hasEntries %}
                {% if not elementSource %}
                    <div class="container">
                        <h2>Entries</h2>
                    </div>
                {% endif %}
                {% include '_library/components/listing.twig' with {
                    items: entryQuery,
                    type: 'entries',
                    showFilters: 0,
                    showContext: 0
                } only %}
            {% endif %}
        {% else %}
            No items found
        {% endif %}
    </div>


{% endblock %}