{% set entry = craft.entries.id(entryId).one() %}

{% extends '_layouts/app.twig' %}

{% block main %}
    {% set pageTitle = entry.title  %}
    {% include '_components/pageHeader' %}
    {% set assets = craft.libraryAssets.limit(2).all() %}
    <a href="{{ craft.library.download(assets) }}">Download</a>
{% endblock %}