{% set file = craft.library.damActive ? asset.file : asset %}
<div class="asset-preview">
    {% block assetPreview %}
            <img src="{{ file.url({width:1200}) }}" alt="{{ asset.title }}">
    {% endblock %}
</div>