{# TODO: allow turning off of htmx? #}
{# TODO: Clear filters option #}

<div class="listing-filter"
     x-data="{ filtersOpen: false }"
     @click.away="filtersOpen = false">
    <div class="action action--outline bg-canvas border-primary text-primary" @click="filtersOpen = !filtersOpen">
        <i class="fas fa-filter" aria-hidden="true"></i> <span>{{ 'Filters'|t }}</span>
    </div>
    <div class="dropdown" x-show="filtersOpen">
        <form action="/{{ craft.app.request.fullPath }}" method="GET"
              data-hx-get="/{{ craft.app.request.fullPath }}"
              data-hx-indicator="#page-loader"
              data-hx-select=".results__main"
              data-hx-target=".results__main"
              data-hx-swap="outerHTML"
              data-hx-push-url="true"
              hx-trigger="change"
        >
            {% if keywords %}
                <input type="hidden" name="q" value="{{ keywords }}">
            {% endif %}
            {% include '_fabric/components/filters/order.twig' %}
            {% include '_fabric/components/filters/kind.twig' %}

            <input type="submit" value="Go" class="listing-filter__submit">
        </form>
    </div>
</div>
