<div>
    <div @click="{sidebarOpen = !sidebarOpen}" class="sidebar__toggle"  :class="{'sidebar__toggle--active': sidebarOpen }">
        <i class="fas fa-search" aria-hidden="true" x-show="!sidebarOpen"></i><i class="fas fa-times text-canvas" aria-hidden="true" x-show="sidebarOpen"></i> <span>Menu</span>
    </div>
    <nav class="sidebar" :class="{'sidebar--active': sidebarOpen }" id="sidebar" >
        <div class="sidebar__main">
            {% include '_fabric/extends/sidebarMainPre.twig' ignore missing %}
            <div class="sidebar__branding">
                {% include '_fabric/components/branding.twig' %}
            </div>
            <div class="sidebar__searchbar">
                {% include '_fabric/components/searchBar.twig' %}
            </div>
            <div class="sidebar__navigation">
                {% include '_fabric/components/navigation.twig' %}
            </div>
            {% include '_fabric/extends/sidebarMainPost.twig' ignore missing %}
        </div>
        <div class="sidebar__footer">
            {% include '_fabric/extends/sidebarFooterPre.twig' ignore missing %}
            {% if currentUser %}
                {% include '_fabric/components/userAction.twig' %}
            {% endif %}
            {% include '_fabric/extends/sidebarFooterPost.twig' ignore missing %}
        </div>
    </nav>
</div>