<div class="global-header">
    <div class="container">
        <div class="global-header__breadcrumbs">
            {% include '_fabric/components/breadcrumbs.twig' %}
        </div>
        <div class="global-header__actions">
            {% include '_fabric/components/pageActions.twig' %}
        </div>
    </div>
</div>