{# Get assets source #}
{% if craft.library.settings.assetsSource == 'dam' %}
    {% set assets = craft.damAssets %}
{% else %}
    {% set assets = craft.assets.folderId(librarySettings.assetsSource) %}
{% endif %}


{# set variables #}
{% set query = query|default(assets
    .search(keywords)
    .kind(kind)
    .relatedTo(category)
    .orderBy(order)
    .with(['file[0]'])
    .limit(30)) %}

{% paginate query as pageInfo, assets %}

<div class="listing">
    <div class="listing__tools">
        <div class="container">
            <div class="listing__info">
                {% include '_library/components/listingFilter.twig' %}
            </div>
            <div class="listing__actions">
                {% include '_library/components/listingActions.twig' %}
            </div>
        </div>
    </div>
    <div class="listing__main" id="listing">
        {% include '_library/components/listingContext.twig' %}
        <div id="loading" class="htmx-indicator">
            Loading
        </div>
        {# TODO: check if using lists helps with accesibility #}
        <div class="listing__results">
            {% for asset in assets %}
                {% include '_library/components/assetCard/' ~ layout %}
            {% endfor %}
        </div>
        {# TODO: AJAXINATE Loading #}
        <div class="listing__pagination">
            {% include '_library/components/listingPagination.twig' %}
        </div>
    </div>
</div>