{# TODO: should I poll to see if categories are empty for query - this could prove expensive - I don't think I should #}

{% set categoryRoll = categoryRoll|default(false) %}

{% if categoryRoll %}
    {% set categories = [] %}
    {% set isParent = false %}

    {% if category %}
        {% if category.hasDescendants %}
            {% set categories = craft.categories().descendantOf(category).descendantDist('1').orderBy('title asc').all() %}
            {% set isParent = true %}
        {% endif %}
    {% else %}
        {% set categories = craft.categories().group('categories').level(1).orderBy('title asc').all() %} {# TODO: Set this to a variable #}
    {% endif %}

    {% if categories|length %}
        <div class="category-strip">
            <span class="mr-1">
                {% if isParent %}Sub {% endif %}Categories:
            </span>
            {% for category in categories %}
                {% if not loop.first %}<span class="opacity-10 px-0.5">/</span>{% endif %}
                <a href="{{ url('listing/all?category=' ~ category.id ) }}"
                   title="Only show assets in the  {{ category.title }} category"
                   class="font-medium text-primary hover:underline">{{ category.title }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

