{# Dropdown #}

{# id <string> a unique id for this dropdown#}
{% set id = id %}

<div class="dropdown | absolute w-dropdown mt-2 left-1/2 right-auto transform -translate-x-1/2 p-2 bg-white rounded-lg shadow-2xl z-20"
     x-show="dropdown{{ id }}open" @mouseleave="{dropdown{{ id }}open = false}" x-cloak>
    <div class="dropdown__items | text-left m-0 p-0 list-none">
        {% block dropdownItems %}
        {% endblock %}
    </div>
    <div class="absolute w-2 h-2 bg-white -top-1 left-1/2 -ml-1 transform rotate-45"></div>
</div>

