{% set url = url %}
{% set title = title %}

<a class="navigation-item || block font-medium text-sm no-underline {{ craft.app.request.absoluteUrl == url ? '' }} "
        href="{{ url }}"
        title="View {{ title }}">
    {{ title }}
</a>
