<div
        class="navigation | py-8 px-3 space-y-6"
        hx-boost="true"
        hx-indicator="#page-loader"
        hx-push-url="true"
>

    {% for navigationItem in craft.fabric.settings.navigation %}
        {% switch navigationItem.type %}
        {% case 'entries' %}
            {% include '_fabric/components/navigationGroup.twig' with {
                title: navigationItem.title is defined ? navigationItem.title,
                items: craft.entries.section(navigationItem.source).all(),
            } %}
        {% case 'entryListing' %}
            {% include '_fabric/components/navigationItem.twig' with {
                title: navigationItem.title,
                url: url('listing/entries/' ~ navigationItem.source|kebab)
            } %}
        {% case 'categoriesNav' %}
            {% include '_fabric/components/navigationGroup.twig' with {
                title: navigationItem.title is defined ? navigationItem.title,
                items: craft.categories().group(navigationItem.source).level(1).all(),
                route: url('listing/all'),
                param: 'category'
            } %}
        {% case 'heading' %}
            {% include '_fabric/components/navigationHeader' with {
                title: navigationItem.title
            } only %}
        {% case 'links' %}
            {% include '_fabric/components/navigationGroup.twig' with {
                title: navigationItem.title is defined ? navigationItem.title,
                items: navigationItem.links,
            } %}
        {% case 'include' %}
            {% include navigationItem.source %}
        {% endswitch %}
    {% endfor %}

</div>