{# Navigation Header - A header for navigation groups #}

{# title <string> required #}
{% set title = title %}
<h3 class="navigation-header || uppercase text-xs font-bold mb-3 opacity-30 tracking-wide">
    {{ title }}
</h3>