{# Navigation group | groups links defined in the settings into navigation items #}

{# title <string #}
{% set title = title|default(null) %}

{# items <array> an array of items, requires title and url e.g.
    [
        'title'=>'home',
        'url'=>'/',
    ]
#}
{% set items = items|default(null) %}

{# type <string> the context of the items
    'entries',
    'links'
#}
{% set type = type|default(null) %}

{# route <string> The base route for each item url  #}
{% set route = route|default(null) %}


{% set param = param|default(null) %}


{% set baseUrl = '' %}
{% if route %}
    {% set baseUrl = route ~ '/' %}
{% endif %}
{% if type %}
    {% set baseUrl = baseUrl ~ type ~ '/' %}
{% endif %}

<nav class="navigation-group" aria-label="{{ title }} navigation">
    {% include '_fabric/components/navigationHeader' with {
        title: title
    } only %}
    <ul class="navigation-group__items | space-y-2">
        {% for item in items %}
            {% if route %}
                {% set itemUrl = route ? route : url(baseUrl ~ item.id ~ '/' ~ item.slug) %}
            {% else %}
                {% set itemUrl = item.url %}
            {% endif %}
            {% if param %}
                {% set itemUrl = itemUrl ~ '?' ~ param ~ '=' ~ item.id %}
            {% endif %}
            <li>
                {% include '_fabric/components/navigationItem.twig' with {
                    title: item.title,
                    url: itemUrl
                } only %}
            </li>
        {% endfor %}
    </ul>
</nav>


