<div class="page-loader | fixed hidden overflow-hidden h-0.5 top-0 right-0 left-0 z-50" id="page-loader">
    <div class="page-loader__bar | bg-primary absolute h-full w-full animate-loader bg-primary z-50">
    </div>
</div>

{% css %}
    .page-loader.htmx-request {
        display:block
    }
{% endcss %}