<div x-data="{sidebarOpen: false}">
    <div @click.prevent="sidebarOpen = !sidebarOpen"
         class="sidebar__toggle | p-2.5 text-2xl fixed right-0 z-20 md:hidden">
        <i class="fas fa-search" aria-hidden="true" x-show="!sidebarOpen"></i><i class="fas fa-times" aria-hidden="true" x-show="sidebarOpen"></i> <span class="hidden">Menu</span>
    </div>
    <nav class="sidebar | fixed flex overflow-scroll top-0 w-sidebar transform h-screen p-4 bg-gray-200 dark:bg-gray-900 flex-col justify-between z-50 left-0 md:translate-x-0 transition-all transition-transform duration-500 "
         id="sidebar"
         :class="{'translate-x-0': sidebarOpen, '-translate-x-sidebar': !sidebarOpen}"
{#         @click.away="sidebarOpen = false"#}
{#         x-transition:enter-start="ease-in transform -left-sidebar"#}
{#         x-transition:enter-end="transform left-0"#}
{#         x-transition:leave-start="ease-out transform left-0"#}
{#         x-transition:leave-end="transform -left-sidebar"#}
         >
        <div class="sidebar__main">
            {% include '_fabric/extends/sidebarMainPre.twig' ignore missing %}
            <div class="sidebar__branding | p-4 pb-8 text-center">
                {% include '_fabric/components/branding.twig' %}
            </div>
            <div class="sidebar__searchbar">
                {% include '_fabric/components/searchBar.twig' %}
            </div>
            <div class="sidebar__navigation">
                {% include '_fabric/components/navigation.twig' %}
            </div>
            {% include '_fabric/extends/sidebarMainPost.twig' ignore missing %}
        </div>
        <div class="sidebar__footer">
            {% include '_fabric/extends/sidebarFooterPre.twig' ignore missing %}
            {% if currentUser %}
                {% include '_fabric/components/userAction.twig' %}
            {% endif %}
            {% include '_fabric/extends/sidebarFooterPost.twig' ignore missing %}
        </div>
    </nav>
</div>