{% if craft.fabric.siloActive %}
    {% set asset = craft.siloAssets
        .id(assetId)
        .with(['file[0]'])
        .one() %}
    {% set canEditAsset = currentUser.can('silo-editSiloAssets') %}
{% else %}
    {% set asset = craft.assets
        .id(assetId)
        .one() %}
    {% set canEditAsset = currentUser.can('editImagesInVolume:' ~ asset.volume.uid) %}
{% endif %}

{% set pageTitle = asset.title %}
{% set publicPage = craft.fabric.isPublic(asset) %}
{% set breadcrumbs = [{
    'title': 'Assets'|t('fabric'),
    'url': '/listing/assets/'
}] %}

{% extends '_fabric/layouts/page.twig' %}

{% block pageActions %}
    {% include ['_fabric/components/quickActions/' ~ asset.kind,'_fabric/components/quickActions']  with {
        id: asset.id,
        title: asset.title,
        context: 'page',
        element: asset,
        elementType: 'asset',
        editUrl: canEditAsset ? asset.cpEditUrl,
        kind: 'asset'
    } only  %}
{% endblock %}

{% block pageMain %}
    <div class="asset">
        <div class="container">
            <div class="asset__wrapper | lg:flex">
                <div class="asset__preview | w-full max-w-3xl lg:w-3/5 lg:flex-shrink-0">
                    {% include ['_fabric/components/preview/' ~ asset.kind, '_fabric/components/preview'] %}
                </div>
                <div class="asset__meta | mt-6 lg:mt-0 lg:ml-8 lg:flex-grow-0">
                    {% for fieldHandle, fieldSettings in craft.fabric.settings.assetFields if fieldSettings.enabled %}
                        {% include '_fabric/components/metaItems' with {
                            handle: fieldHandle,
                            settings: fieldSettings,
                            element: asset
                        } only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}