{% if currentUser %}
    {% redirect '/' %}
{% endif %}

{% extends "_fabric/layouts/actionPage.twig" %}

{% block main %}
    {% include '_fabric/components/heading' with {
        type: 'h2',
        text: 'Password reset'
    } %}

    {% if craft.app.request.queryParam('status') == 'success' %}
        {% include '_fabric/components/message' with {
            text: 'You will shortly receive an e-mail with instructions on how to reset your password.',
            type: 'info'
        } %}
    {% else %}

        <form method="post" accept-charset="UTF-8" class="space-y-2">

            {{ csrfInput() }}
            {{ actionInput('users/send-password-reset-email') }}
            {{ redirectInput('/forgotpassword?status=success') }}

            <div class="form-field form-field--full-width">
                {% include '_fabric/components/field/text.twig' with {
                    id: 'loginName',
                    name: 'loginName',
                    placeholder: 'Username or Email'|t,
                    value: user is defined ? user.username,
                    required: true,
                    error:  user is defined and user.getErrors('username')|length
                } %}
            </div>

            <div class="form-field form-field--full-width">
                {% include '_fabric/components/action.twig' with {
                    text: 'Reset password'|t,
                    type: 'submit',
                    size: 'large',
                    color: 'primary',
                    fullWidth: true,
                    attributes: {
                        'title' : 'Reset your password'|t
                    }
                } %}
            </div>

            {% if errors ?? false %}
                {% include '_fabric/components/message' with {
                    text: errors,
                    type: 'error',
                    centered: true
                } %}
            {% endif %}

        </form>
    {% endif %}
{% endblock %}
