{% if not craft.fabric.settings.private %}
    {% redirect '/' %}
{% endif %}

{% extends "_fabric/layouts/action-page.twig" %}

{% block main %}
    {% include '_fabric/components/branding.twig' %}
    <form method="post" accept-charset="UTF-8" class="space-y-3">
        {{ csrfInput() }}
        {{ actionInput('users/login') }}

        <div>
            {% include '_fabric/components/field.twig' with {
                id: 'loginName',
                name: 'loginName',
                placeholder: 'Username or Email'|t,
                value: craft.app.user.rememberedUsername,
                required: true,
                position: 'start'
            } %}

            {% include '_fabric/components/field.twig' with {
                type: 'password',
                id: 'password',
                name: 'password',
                placeholder: 'Password'|t,
                required: true,
                position: 'end'
            } %}
        </div>

        <div class="field-group space-y-5">
            <div class="form-field flex justify-between">
                <label class="text-sm">
                    <input type="checkbox" name="rememberMe" value="1">
                    Keep me logged in
                </label>
                <a href="{{ url('forgotpassword') }}" class="text-sm text-primary">Forget your password?</a>
            </div>

            <div class="actions actions--vertical actions--space-top">
                <div class="space-y-2">
                    {% include '_fabric/components/action.twig' with {
                        text: 'Login'|t,
                        type: 'submit',
                        size: 'large',
                        fullWidth: true,
                        attributes: {
                            'title' : 'Login'|t
                        }
                    } %}
                    {% if craft.app.projectConfig.get('users').allowPublicRegistration %}
                        {% include '_fabric/components/action.twig' with {
                            text: 'Register'|t,
                            style: 'outline',
                            action: url('register'),
                            size: 'large',
                            fullWidth: true
                        } %}
                    {% endif %}
                </div>
            </div>
            {% if errorMessage is defined %}
                <div class="message message--centered message--space-top status-error">
                    {{ errorMessage }}
                </div>
            {% endif %}
        </div>

    </form>
{% endblock %}




