{% if currentUser %}
    {# TODO: redirect to the home route if set #}
    {% redirect '/' %}
{% endif %}

{% set userSettings = craft.app.projectConfig.get('users') %}
{% set suspendByDefault = userSettings.suspendByDefault ? 1 : 0 %}
{% set requireVerification = userSettings.requireEmailVerification ? 1 : 0 %}

{% extends "_fabric/layouts/action-page.twig" %}

{% block main %}
    {% if craft.app.request.queryParam('status') == 'success' %}
        <h2>Registration complete!</h2>
        {% if suspendByDefault %}
            {% include '_fabric/components/message' with {
                text: 'You will be notified once your account has been activated.',
                type: 'info',
                centered: true
            } %}
        {% elseif requireVerification %}
            {% include '_fabric/components/message' with {
                text: 'You will receive an e-mail to activate your account shortly.',
                type: 'info',
                centered: true
            } %}
        {% endif %}
    {% else %}
        {% if userSettings.allowPublicRegistration %}
            <form method="post" accept-charset="UTF-8" class="space-y-2">

                {{ csrfInput() }}
                {{ actionInput('users/save-user') }}
                {{ redirectInput('register?status=success&suspendByDefault=' ~ suspendByDefault ~ '&requireVerification=' ~ requireVerification) }}

                {% if suspendByDefault %}
                    {% include '_fabric/components/message' with {
                        text: 'Your registration will be reviewed by an administrator',
                        type: 'info',
                        centered: true
                    } %}
                {% endif %}
                <div>
                    {% if not craft.app.config.general.useEmailAsUsername %}
                            {% include '_fabric/components/field/text.twig' with {
                                id: 'username',
                                name: 'username',
                                placeholder: 'Username'|t,
                                value: user is defined ? user.username,
                                required: true,
                                position: 'start',
                                error:  user is defined and user.getErrors('username')|length
                            } %}

                    {% endif %}

                    {% include '_fabric/components/field/email.twig' with {
                        id: 'email',
                        name: 'email',
                        placeholder: 'Email'|t,
                        value: user is defined ? user.email,
                        required: true,
                        position: craft.app.config.general.useEmailAsUsername ? 'start' : 'middle',
                        error:  user is defined and user.getErrors('email')|length
                    } %}

                    {% include '_fabric/components/field/password.twig' with {
                        id: 'password',
                        name: 'password',
                        placeholder: 'Password'|t,
                        required: true,
                        position: 'end',
                        error:  user is defined and user.getErrors('password')|length
                    } %}
                </div>

                <div class="field-group">
                    <div class="form-field form-field--full-width">
                        {% include '_fabric/components/action.twig' with {
                            text: 'Register'|t,
                            type: 'submit',
                            size: 'large',
                            fullWidth: true,
                            attributes: {
                                'title' : 'Register'|t
                            }
                        } %}
                    </div>
                </div>

                {% if user is defined %}
                    {% include '_fabric/components/message' with {
                        text: user.getErrors('username')|merge(user.getErrors('email'))|merge(user.getErrors('password')),
                        type: 'error',
                        centered: true
                    } %}
                {% endif %}

            </form>
        {% else %}
            {% include '_fabric/components/message' with {
                text: 'Public registrations not allowed.',
                type: 'error',
                centered: true
            } %}
        {% endif %}
    {% endif %}
{% endblock %}
