{% include '_fabric/settings/colors.twig' %}

{% block app %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ siteName }}</title>
    </head>
    <body class="bg-primary">
    <div id="app" class="action-page">
        <main class="main" id="main">
            <div class="action-page action-page--centre-content">
                <div class="action-page__main">
                    <div class="action-page-card">
                        {% block main %}
                            No content
                        {% endblock %}
                    </div>
                </div>
                <div class="action-page__supporting bg-primary">
                    <div class="mosaic">
                        <div class="mosaic__inner">
{#                            {% set assets = craft.fabric.settings.assetsSource == 'dam' ? craft.siloAssets : craft.assets.folderId(craft.fabric.settings.assetsSource)  %}#}
{#                            {% set assets = assets#}
{#                                .kind('image')#}
{#                                .with(['file[0]'])#}
{#                                .limit(30)#}
{#                            %}#}
{#                            {% set k = 20 %}#}
{#                            {% for i in range(1, k) %}#}
{#                                {% for asset in assets.orderBy('RAND()').all() %}#}
{#                                    {% set file = craft.fabric.settings.assetsSource == 'dam' ? asset.file : asset %}#}
{#                                    <img src="{{ file.url({width:100,quality:10}) }}" alt="{{ asset.title }}">#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
                        </div>
                    </div>
                    <div class="action-page__overlay bg-primary"></div>
                </div>
            </div>
        </main>
    </div>
    </body>
    </html>
{% endblock %}