{% extends '_fabric/components/metaItem' %}

{% block metaItemValue %}
    <div class="flex flex-wrap">
    {% for category in value %}
        <a href="{{ url('listing/all?category=' ~ category.id) }}" class="text-xs text-primary border-primary hover:bg-primary hover:text-white border rounded px-2 py-0.5 mr-1 mb-1">
            {{ category }}
        </a>
    {% endfor %}
    </div>
{% endblock %}