{% extends '_fabric/components/metaItem' %}

{% block metaItemValue %}
    <div class="flex flex-wrap">
    {% for tag in value %}
        <a href="{{ url('listing/all?q=' ~ tag|url_encode ) }}" class="text-xs text-gray-600 border-gray-600 hover:bg-gray-600 hover:text-white border rounded px-2 py-0.5 mr-1 mb-1">
            {{ tag }}
        </a>
    {% endfor %}
    </div>
{% endblock %}